[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "3.0.3"
flask-restful = "0.3.10"
flask-cors = "4.0.1"
flask-jwt-extended = "4.6.0"
aws-wsgi = "0.2.7"
pymongo = "4.9.2"
bcrypt = "4.2.0"
python-dotenv = "1.0.1"
firebase-admin = "6.5.0"

[dev-packages]
pytest = "*"
mongomock = "*"

[requires]
python_version = "3.13"
